vagrant/.*
.DS_Store
.idea/
.vagrant/
*.log
*.retry

roles/linux-role/
roles/geerlingguy.mysql/
roles/geerlingguy.nginx/
roles/common-role/
roles/reference-api-dstu2-role/
roles/reference-api-role/
roles/reference-auth-role/
roles/gantsign.maven/
roles/geerlingguy.java/
